@import "tailwindcss";

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
}

#map {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
}

.navbar-gradient {
  background-image: linear-gradient(to bottom, #2b6988 0%, #1f4b61 100%);
}

#sidebar {
  transition: all 0.25s ease-out;
}

.btn-mode {
  @apply px-3 py-1.5 text-sm bg-white text-gray-700 hover:bg-gray-100;
}

.btn-mode.active {
  @apply bg-sky-600 text-white hover:bg-sky-600;
}
